body{
	font-family: 'Open Sans',sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5rem;
}

.ContainerHead{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 400px;
	justify-content: center;
	background-image: url(https://www.era.pt/Portals/0/01_Homepage/Homepage_banner_desktop_pt_BEM-VINDO-A-SUA-NOVA-CASA.png);
}

.ContainerHead .ContainerLogo{
	width: 60%;
}

.ContainerHead .ContainerLogo #dnn_dnnLOGO_imgLogo{
	margin-right: 200px;
	align-self: baseline;
}

.ContainerHead .ContainerNav{
	width: 40%;
	margin-right: 300px;
}

.ContainerHead .ContainerNav #listNav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-self: flex-start;
	justify-content: space-evenly;
	list-style: none;
}

.ContainerHead .ContainerNav #boldInlist{
	font-weight: bold;
}
















