body{
	font-family: sans-serif;
	font-size: 14px;
}

.topNav{
	width: 70%;
	flex: 1;
	float: right;
	margin-right: 4%
}

.topNav #boldInlist{
	font-weight: bold;
}

.topNav li{
	margin: 15px;
	padding: 7px;
}

.topNav #listNav{
	margin-top: 3px;
	padding-left: 25px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	list-style-type: none;
}

#logoERA_zoom{
	width: 30%;
	float: left;
	height: 145px;
	width: 145px;
	margin: 10px;
	margin-left: 10%;
}

















